In [1]:
### Train Set과 Test set으로 나누는 필요성
# 모든 문제와 답을 알려주고 해당 범위내에서 점수를 내면 항상 100점이 나온다.
# 하나의 DataSet을 Train(훈련)부분과 Test(검증)으로 분리한다
# Train Set은 학습하고 학습내용은 Test Set으로 검증을 하여야 모델의 정확성을 신뢰할 수 있다
import pandas as pd
fruits = pd.read_csv("../Data/fruits.csv")
fruits.head()

   length  weight   name
0    25.4   242.0  apple
1    26.3   290.0  apple
2    26.5   340.0  apple
3    29.0   363.0  apple
4    29.0   430.0  apple

In [ ]:
im