In [7]:
### 농구 선수의 게임 데이터를 활용한포지션 예측을위한데이터 정제
#NBA농구 선수들의 게임 기록을 데이터로사용해서 특정 농구 선수의 포지션을 예측

import pandas as pd
df = pd.read_csv("../Data/basketball.csv")
df.head()

           Player Pos   3P   2P  TRB  AST  STL  BLK
0    Alex Abrines  SG  1.4  0.6  1.3  0.6  0.5  0.1
1    Steven Adams   C  0.0  4.7  7.7  1.1  1.1  1.0
2   Alexis Ajinca   C  0.0  2.3  4.5  0.3  0.5  0.6
3  Chris Andersen   C  0.0  0.8  2.6  0.4  0.4  0.6
4     Will Barton  SG  1.5  3.5  4.3  3.4  0.8  0.5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  100 non-null    object
 1   Pos     100 non-null    object
 2   3P      100 non-null    float64
 3   2P      100 non-null    float64
 4   TRB     100 non-null    float64
 5   AST     100 non-null    float64
 6   STL     100 non-null    float64
 7   BLK     100 non-null    float64
dtypes: float64(6), object(2)
memory usage: 6.4+ KB

In [ ]:
# Column Description
# - Player : 
# - Position(SG:shooting Guard, C: Center)
# - 3P : 한 경기당 평균 3점슛 성공 횟수
# - 2P : 한 경기당 평균 2점슛 성공 횟수
# - TRB : 한 경기당 평균 리바운드 성공 횟수
# - AST : 한 경기당 평균 어시스트 성공 횟수
# - STL : 한 경기당 평균 스틸 성공 횟수
# - BLK : 한 경기당 평균 블라킹 성공 횟수

In [ ]:
# 포지션 종류 파악
df.Pos.unique()

array(['SG', 'C'], dtype=object)

In [9]:
# 포지션별 갯수 파악
df.Pos.value_counts()

Pos
SG    50
C     50
Name: count, dtype: int64

In [ ]:
### 포지션별 내용
# C: Center : 포스트 근처에서 슛을 블로킹하고, 리바운드 하며 바낕으로 쳐내며, 골대 근처에서
#             2점슛으로 득점을 하기도 한다.
# SG:shooting Guard : 코트내에서 3점슛등 장거리 슛을 해서 점수를 얻는 역할

In [10]:
df.head()

           Player Pos   3P   2P  TRB  AST  STL  BLK
0    Alex Abrines  SG  1.4  0.6  1.3  0.6  0.5  0.1
1    Steven Adams   C  0.0  4.7  7.7  1.1  1.1  1.0
2   Alexis Ajinca   C  0.0  2.3  4.5  0.3  0.5  0.6
3  Chris Andersen   C  0.0  0.8  2.6  0.4  0.4  0.6
4     Will Barton  SG  1.5  3.5  4.3  3.4  0.8  0.5

In [13]:
### 데이터 시각화를 통한 EDA(탐색적 데이터 분석 )실시
# 데이터의 특징을 바탕으로 한 공간에 시각화함으로써 
# 머신러닝 학습에 필요한 특징과 불필요한 특징을 구분
# !pip install koreanize-matplotlib
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns